body {
    background-color: black;
    color: white;
}

.input {
    text-align: center;
    margin: 50px;
    margin-bottom: 50px;
}

.input>input {
    padding: 10px 20px;
    border-radius: 20px;
}

.input>input:focus {
    outline: none;
}